<!-- <form [formGroup]="searchForm" class="form-container">  -->
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Search For Your Next Cup
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <!-- <mat-form-field> -->
                <mat-chip-list selectable multiple [formControl]="chipsControl">
                    <mat-chip #chip="matChip" (click)="chip.toggleSelected(true)"
                        *ngFor="let option of ['Hot Coffee', 'Iced Coffee', 'Latte', 'Americano', 'Machiato', 'Tea', 'Industrial', 
                        'Rustic', 'Chic', 'Cottage-Core', 'Loud', 'Busy', 'Quiet', 'Cozy', 'Artistic', 'Environmentally Friendly']">
                        {{option}}
                    </mat-chip>
                </mat-chip-list>
            <!-- </mat-form-field> -->
        <!-- <mat-form-field>
            <mat-chip-list selectable multiple [formControl]="chipsControl">
                <mat-chip #chip="matChip" (click)="chip.toggleSelected()"
                    *ngFor="let option of ['Option 1', 'Option 2', 'Option 3']">
                    {{option}}
                </mat-chip>
            </mat-chip-list>
        </mat-form-field>
        <mat-form-field>
            <mat-chip-list selectable multiple [formControl]="chipsControl">
                <mat-chip #chip="matChip" (click)="chip.toggleSelected()"
                    *ngFor="let option of ['Option 1', 'Option 2', 'Option 3']">
                    {{option}}
                </mat-chip>
            </mat-chip-list>
        </mat-form-field> -->
        </mat-card-content>
        <mat-card-actions>
            <button (click)="onSubmit()" color="primary" mat-raised-button>
                Search Now
            </button>
        </mat-card-actions>
    </mat-card>

    <div>
        <h2 *ngIf="reviews.length === 0; else searchResults">See Reviews Below</h2>
        <ng-template #searchResults>

            <div *ngFor="let review of reviews">
                <h2>Business Name</h2>
                <p> {{ review.nameOfBusiness }}</p>
            
                <h2>Beverage Type</h2>
                    <ul>
                        <li *ngFor="let beverageName of review.beverageName">
                            {{ beverageName }}
                        </li>
                    </ul>
              
                <h2>Atmosphere</h2>
                    <ul>
                        <li *ngFor="let atmosphere of review.atmosphere">
                            {{ atmosphere }}
                        </li>
                    </ul>
            
            
                <h2>Date Of Visit</h2>
                <p> {{ review.datePicker | date: "fullDate" }}</p>
            
                <h2>Summary Of Visit</h2>
                <p> {{ review.summary }}</p>
            
                </div>

        </ng-template>

    </div>
<!-- </form> -->