/* .mat-form-field {
    width: 50%;
    justify-content: center;
} */

.mat-icon {
    height: 20px;
    width: 20px;
    font-size: 20px;
    margin-right: 5px;
}

.example-chip-list {
    width: 100%;
  }
  

  .form-container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}