<form [formGroup]="createReviewForm" class="form-container" (ngSubmit)="onSubmit()"> 
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Create Your Review
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="text-center col-md-6">
                    <mat-form-field>          
                        <!-- what type of data is this, string or date  -->
                        <input
                        type="string" 
                        formControlName="dateOfVisit" 
                        matInput [matDatepicker]="picker" 
                        placeholder="Choose a date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div>
                    <mat-form-field>
                        <mat-label for="nameOfBusiness">Business Name</mat-label>
                        <input
                        type="string"
                        id="nameOfBusiness"
                        matInput
                        placeholder="Name of Buisness"
                        formControlName="nameOfBusiness"
                        >
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="text-center col-md-6">
                    <mat-form-field class="full-width">
                        <mat-label>Select Your Beverage</mat-label>
                        <mat-select formControlName="beverageName" 
                        id="beverageName" >
                            <mat-option value="hotcoffee">Hot Coffee</mat-option>
                            <mat-option value="icedcoffee">Iced Coffee</mat-option>
                            <mat-option value="coldbrew">Cold Brew</mat-option>
                            <mat-option value="latte">Latte</mat-option>
                            <mat-option value="americano">Americano</mat-option>
                            <mat-option value="espresso">Espresso</mat-option>
                            <mat-option value="machiato">Machiato</mat-option>
                            <mat-option value="frappucino">Frappucino</mat-option>
                            <mat-option value="tea">Tea</mat-option>
                            <mat-option value="Other">Other</mat-option>
                        </mat-select>
                
                    </mat-form-field> 
                </div>
                <div class="text-center col-md-6">    
                    <mat-form-field class="full-width">
                        <mat-label>Describe The Atmosphere</mat-label>
                        <mat-select formControlName="atmosphere" id="atmosphere" multiple >
                            <mat-option value="Industrial">Industrial</mat-option>
                            <mat-option value="Rustic">Rustic</mat-option>
                            <mat-option value="Chic">Chic</mat-option>
                            <mat-option value="Cottage-Core">Cottage-Core</mat-option>
                            <mat-option value="Loud">Loud</mat-option>
                            <mat-option value="Busy">Busy</mat-option>
                            <mat-option value="Quiet">Quiet</mat-option>
                        </mat-select>
                    </mat-form-field> 
                </div>  
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="full-width">
                        <mat-label>Overall, How was the drink?</mat-label>
                        <mat-select formControlName="overallRating" 
                        id="OverallRating" >
                        <!-- What did Nikki name these values? -->
                            <mat-option value="theWorst">The Worst!</mat-option>
                            <mat-option value="notCompletelyHorrible">Not Completely Horrible</mat-option>
                            <mat-option value="eh">Ehhh</mat-option>
                            <mat-option value="prettyGood">Pretty Good!</mat-option>
                            <mat-option value="amazing">Amazing!</mat-option>
                        </mat-select>
                    </mat-form-field>  
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <mat-form-field>
                        <textarea formControlName="summary" matInput placeholder="Final Thoughts"></textarea>
                    </mat-form-field>
                </div>
            </div>




        </mat-card-content>
        <mat-card-actions>
            <button color="primary"
            type="submit"
            mat-raised-button>
                Save Review
            </button>
        </mat-card-actions>
    </mat-card>
</form>