.form-container {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    justify-content: center;
}

#i1 {
    color: red;
}

#i2 {
    color: orange;
}

#i3 {
    color: blue;
}

#i4 {
    color: purple;
}

#i5 {
    color: green;
}