<!-- <div class="container">
    <nav class="navbar"
        <button></button>(click)="onSubmit()"
        <div class="hamburger-menu">
            <div class="line line-1"></div>
            <div class="line line-2"></div>
            <div class="line line-3"></div>
        </div>
        <ul class="nav-list">
            <li class="nav-item">
                <a href="#" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">View Profile</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Create Review</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">See my Reviews</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Search The Area</a>
            </li>
        </ul>
    </nav>
</div> -->

<!-- //implement routing in each li -->