
<form [formGroup]="dummyForm" class="form-container" (ngSubmit)="onSubmit()"> 
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Log into your account
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div>
                    <mat-form-field>
                        <mat-label for="name">Email</mat-label>
                        <input
                        type="string"
                        id="name"
                        matInput
                        placeholder="name"
                        formControlName="name"
                        >
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
              <div>
                  <mat-form-field>
                      <mat-label for="location">Password</mat-label>
                      <input
                      type="string"
                      id="location"
                      matInput
                      placeholder="location"
                      formControlName="location"
                      >
                  </mat-form-field>
              </div>
          </div>
  
  
        </mat-card-content>
        <mat-card-actions>
            <button color="primary"
            type="submit"
            mat-raised-button>
                Login
            </button>
        </mat-card-actions>
    </mat-card>
  </form>
<br><br>