<div class="container">
    <div class="row mb-1">
        <div class="col-xs-4">
            <img src="/assets/6.png" style="width: 100%">
        </div>
        <div class="col-xs-4">
            <img src="/assets/5.png" style="width: 100%">
        </div>
        <div class="col-xs-4">
            <img src="/assets/4.png" style="width: 100%">
        </div>
    </div>
</div><br>
<div class="container">
    <div class="row mb-1">
        <div class="col-xs-4">
            <img src="/assets/7.png" style="width: 100%">
        </div>
        <div class="col-xs-4">
            <img src="/assets/8.png" style="width: 100%">
        </div>
        <div class="col-xs-4">
            <img src="/assets/9.png" style="width: 100%">
        </div>
    </div><br>
</div>
