<div class="container">
    <img src="/assets/profile-image.png" class="img-circle rounded-circle img-responsive center-block d-block mx-auto" width="350px"><br><br>
    <h2>Bio</h2>
    <p>Lorem ipsum all the way.Est lorem ipsum dolor sit amet consectetur adipiscing. Euismod lacinia at quis risus sed vulputate. Ligula ullamcorper malesuada proin libero nunc consequat interdum.</p>
</div>
<br><br>




<h2>My Reviews</h2>
<div class="container">
<div class="row mb-1">
    <div class="col-xs-4">
        <h4>Sunbeam Coffee</h4>
        <p>I visited: August 3rd 2020</p>
        <p>My beverage was: Cold Brew</p>
        <p>The Atmosphere was: Rustic</p>
        <p>Overall Rating: Pretty Good!</p>
        <p>Personal thoughts: Spacious, comfy atmosphere with lots of natural light. I was surprised with live music - that I actually liked! Pleasantly surprised overall. I will be back!</p>
      
    </div>
    <div class="col-xs-4">
        <h4>Sacred Grounds</h4>
        <p>I visited: October 15th 2020</p>
        <p>My beverage was: Hot Tea</p>
        <p>The Atmosphere was: Artistic, Quiet</p>
        <p>Overall Rating: Ehhh</p>
        <p>Personal thoughts: One of the best places for vegan food in the city. There was local art on the walls and they carried a local roast that I honestly didn't like very much. Another thing was how uncomfortable the chairs and tables are. I'd go back, but only on a nice day when I can sit outside.</p>
    </div>
    <div class="col-xs-4">
        <h4>BluePrint Coffee</h4>
        <p>I visited: December 1st 2020</p>
        <p>My beverage was: Latte</p>
        <p>The Atmosphere was: Industrial, Busy, Loud</p>
        <p>Overall Rating: Not Completely Horrible</p>
        <p>Personal thoughts: Like the food and the quality of the coffee. When it is crowded, the ambient noise is pervasive and distracting. Difficult to concentrate in that type of a setting. Still like the place.</p>    
    </div>
</div>  
<div class="row mb-1">
    <div class="col-xs-4">
        <h4>The Mud House</h4>
        <p>I visited: January 19th 2021</p>
        <p>My beverage was: Latte</p>
        <p>The Atmosphere was: Cottage-Core, Artistic</p>
        <p>Overall Rating: Amazing!</p>
        <p>Personal Thoughts: Make sure to go upstairs, it's gorgeously furnished and well lit.. There are many places to work including a group table, armchairs, a window facing bar workspace, and a few small tables!</p>
    </div>
    <div class="col-xs-4">
        <h4>The Crave House</h4>
        <p>I visited: January 31st 2021</p>
        <p>My beverage was: Iced Coffee</p>
        <p>The Atmosphere was: Chic, Industrial</p>
        <p>Overall Rating: Amazing!</p>
        <p>Personal Thoughts: Had the best caffeine rush of my life. They use a Chemex glass brewer which takes everthing to the next level.</p>   
     </div>
    <div class="col-xs-4">
        <h4>Park Avenue Coffee</h4>
        <p>I visited: January 31st 2021</p>
        <p>My beverage was: French Press/Pour-Over</p>
        <p>The Atmosphere was: Cozy, Artistic</p>
        <p>Overall Rating: Pretty Good!</p>
        <p>Personal Thoughts: Really fun location right in a quiet little neighborhood. Great for walking the dog and grabbing some coffee.</p>
    </div>
</div>
</div>
<br><br>
