<div class="container">
    <img src="/assets/profile-image.png" class="img-circle rounded-circle img-responsive center-block d-block mx-auto" width="350px"><br><br>
    <h4>Bio</h4>
    <p>Lorem ipsum all the way</p>
</div>
<br><br>
<div class="container">
<div class="row mb-1">
    <div class="col-xs-3">
        <a href="/assets/11.png"></a>
        <img src="/assets/11.png" class="img-rounded" style="width: 100%">
    </div>
    <div class="col-xs-3">
        <a href="/assets/10.png"></a>
        <img src="/assets/10.png" class="img-rounded" style="width: 100%">
    </div>
    <div class="col-xs-3">
        <a href="/assets/9png"></a>
        <img src="/assets/9.png" class="img-rounded" style="width: 100%">
    </div>
    <div class="col-xs-3">
        <a href="/assets/8.png"></a>
        <img src="/assets/8.png" class="img-rounded" style="width: 100%">
    </div>
</div>
</div>
<br><br>
